@media (min-width: 640px) {
    .animation {
        width: 300px;
        height: 200px;
        transition: transform 1.0s linear;
    }

    .animation::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 1.0s ease-in-out;
    }

    .animation:hover {
        transform: scale(1.2);
    }

    .animation:hover::after {
        transform: translate(-50%, -50%) scale(1.5);
    }
}