@media (max-width: 639px) {
    .animation {
        transition: transform 1.0s linear;
    }

    .animation::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 1.0s ease-in-out;
    }

    .animation:hover {
        transform: scale(1.2);
    }

    .animation:hover::after {
        transform: translate(-50%, -50%) scale(1.5);
    }
}


@media (min-width: 1024px) {
    .animation {
        transition: transform 1.0s linear,
            opacity 0.3s ease;
    }

    .animation::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 1.0s ease-in-out;
    }

    .animation:hover {
        transform: scale(1.2);
        opacity: 0.85;
    }

    .animation:hover::after {
        transform: translate(-50%, -50%) scale(1.5);
    }
}