
/* large view navigation ************************************/

@media (min-width: 400px) {
    section {
        max-width: 640px;
        height: 200px;
    }

    .business_card_in_list {
        font-size: 1em;
    }

    .business_details_container p {
        font-size: 1em;    
    }
}

@media (min-width: 650px) {

    .business_card_in_list {
        font-size: 0.85em;
    }

    .business_details_container p {
        font-size: 0.35em;    
    }

    .white_list_div, .shaded_list_div {
        display: block;
        width: 100%;
        background-color: white;
        height: 2em;
        padding: 5px;
    }

    .shaded_list_div {
        background-color: var(--sp-logo-text-color);  
    }

    .company_name, .phone_number, .website {
        display: inline-block;
    }

    .address {
        display: none;
    }

    .company_name {
        width: 40%;
    }

    .phone_number {
        width: 20%;
    }

    .website {
        width: 40%;
    }
}

@media (min-width: 615px) {
    .header_content span {
        font-size: 2.5em;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    footer {
        flex-direction: row;
        height: 175px;
    }

    #coc_social_media_icon_container {
        width: 320px;
        padding: 0;
        height: 54px;
        margin: 50.5px auto;
    }
}

@media (min-width: 1035px) {

    .company_name, .address, .phone_number, .website {
        display: inline-block;
    }

    .company_name {
        width: 25%;
    }

    .address {
        width: 35%;
    }

    .phone_number {
        width: 12%;
    }

    .website {
        width: 16%;
    }
}

