
/* large view navigation ************************************/

@media (min-width: 400px) {
    section {
        max-width: 640px;
        height: 200px;
    }

    .business_card_in_list {
        font-size: 1em;
    }
}

@media (min-width: 615px) {

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #index_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 288px 47px 235px 270px 362px;
        grid-gap: 10px;
        height: 1282px;
    }

    picture, #hero, #hero img {
        max-height: 294px;
    }

    #hero img {
        object-fit: cover;
    }

    picture, h1, .index_card_container, #events {
         grid-column: span 2;
    }

    #events, .index_card_container {
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    #current_weather, #weather_forecast {
        height: 270px;
        width: calc(100% - 20px);
    }

    .index_card_container {
        display: flex;
        flex-direction: row;
        grid-gap: 5px;
    }

    .index-logo-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        font-size: 0.55em;
        height: 362px;
        background-color: white;
        border-radius: 6px;
        width: calc(33% - 10px);
    }

    .index-logo-card img {
        margin: 10px;
        padding: 10px;
        width: 120px;
        height: 120px;
    }

    h1 {
        margin:  10px auto;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 54px 1fr;
        height: 216px;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        grid-gap: 10px;
    }

    #coc_social_media_icon_container {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        width: 54px;
        height: 196px;
        padding: 0px;
    }

    .coc_info {
        width: 100%;
        padding: 10px;
        max-width: 250px;
    }

@media (min-width: 650px) {

    .business_card_in_list {
        font-size: 0.85em;
    }

    .list_container {
        height: 256px;
    }

    .white_list_div, .shaded_list_div {
        display: block;
        width: 100%;
        background-color: white;
        height: 2em;
        padding: 5px;
    }

    .shaded_list_div {
        background-color: var(--sp-logo-text-color);  
    }

    .company_name, .phone_number, .website {
        display: inline-block;
    }

    .address {
        display: none;
    }

    .company_name {
        width: 40%;
    }

    .phone_number {
        width: 20%;
    }

    .website {
        width: 40%;
    }
}

@media (min-width: 652px) {
    .card_container {
        height: 1396px;
    }
}

@media (min-width: 800px) {
    #index_main {
        grid-template-rows: 375px 47px 270px 362px;
        height: 1100px;
    }

    picture, #hero, #hero img {
        max-height: 375px;
    }
}

@media (min-width: 984px) {
    
    #index_main {
        grid-template-columns: auto auto auto;
        grid-template-rows: 461px 47px 270px 362px;
        height: 1200px;
    }

    picture, #hero, #hero img {
        max-height: 461px;
    }

    h2 {
        font-size: 0.85em;
    }

    picture, h1, .index_card_container {
         grid-column: span 4;
    }

    .index_card_container {
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    #events, #current_weather, #weather_forecast {
        height: 270px;
        width: calc(100% - 20px);
    }

    .card_container {
        height: 1044px;
    }

    footer {
        display: flex;
        flex-direction: row;
        
    }

    #coc_social_media_icon_container {
        display: flex;
        flex-direction: row;
        width: 232px;
        padding: 0;
        height: 54px;
        margin: 50.5px auto;
    }
}

@media (min-width: 1024px) {
    #index_main {
        grid-template-columns: auto auto auto;
        grid-template-rows: 480px 47px 270px 362px;
        height: 1240px;
    }

    picture, #hero, #hero img {
        max-height: 480px;
    }
    
    .index_card_container {
        width: 100%;
        margin: 20px auto;
    }
}

@media (min-width: 1035px) {
    
    .company_name, .address, .phone_number, .website {
        display: inline-block;
    }

    .company_name {
        width: 25%;
    }

    .address {
        width: 35%;
    }

    .phone_number {
        width: 12%;
    }

    .website {
        width: 16%;
    }
}

@media (min-width: 1316px) {
    .card_container {
        height: 692px;
    }
}

@media (min-width: 1440px) {}
    
    .card_container {
        height: 692px;
    }
}
