:root {
    --header-font: Roboto;
    --body-font: Domine;
    --sun-prairie-green-background-color:rgb(50, 130, 132);
    --sun-prairie-light-green-emphasis-color: rgb(121, 155, 62);
    --sun-prairie-highlight-color: rgb(255, 250, 230);
    --sp-logo-text-color: #328284;
    --sp-footer-color: #235f60;
    --dark-blue-emphasis-color: #0D2149;
    --dark-green-emphasis-color: #0d4924;
    --header-footer-background-color: #1d7327;
    --header-footer-nav-text-color: #fff;
    --main-background-color: #ffffff;
    --main-aside-text-color: #000;
    --box-shadow-color: #00000064;
    --main-max-width: 800px;
    --incomplete-class-background-color: #d0d0d0;
    --required-red: #9c2c13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--body-font), serif;
    font-weight: 300;
    line-height: 1.7em;
    width: 100%;
    min-width: 320px;
    color: var(--dark-body-blue-text-color);
    background-color: var(--sp-logo-text-color);
}

a {
    color: var(--header-footer-background-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue-emphasis-color);
    text-decoration: none;
}

header,
nav {
    background-color: white;
    color: black;
    font-family: var(--header-font), sans-serif;
}

header img {
    box-shadow: none;
    margin: 10px;
}

h1 {
    width: 300px;
    font-size: 1.5rem;
    text-align: center;
    margin:  0 auto;
}

nav {
    width: 100%;
    margin: 0 auto 0 auto;
}

/* small view navigation */
#menu {
    font-size: 3rem;
    border: 0;
    background: none;
    color: var(--sp-logo-text-color);
    position: absolute;
    top: .06rem;
    right: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    position: absolute;
    top: 0.5rem;
    right: 10px;
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover, #class_filter_buttons a:hover {
    background-color: #bbb;
    color: #333;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active {
    border-bottom: solid var(--sun-prairie-light-green-emphasis-color);
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#index_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#index-content-container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* height: 2077px; */
    padding: 10px;
}

#view_switch_button_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#view_switch_button_container img {
    width: 44px;
    height: 44px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
}

picture {
    position: relative;
    margin: 0 auto;
}

#hero {
    width: 100%;
    max-width: 1024px;
    /* max-height: 293px; */
    padding: 0;
    height: auto;
}

#hero img {
    width: 100%;
    max-width: 1024px;
    /* max-height: 293px; */
    margin: 0 auto;
    padding: 0;
    height: auto;
}

#hero_cta {
    color: white;
    font-weight: 700;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 10px;
    text-shadow: 0 0 4px black; 
    left: 0px;
}

#join-now-button {
    padding: 10px;
    margin: 5px;
    background-color: var(--sp-footer-color);
    color: white;
}

#business_content_container, .index_card_container {
    margin: 10px auto;
    color: var(--main-aside-text-color);
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0.75rem;
    height: 2804px;
}

.index_card_container {
    display: flex;
    flex-direction: column;
    grid-gap: 0.75rem;
    width: 100%;
}

.list_container {
    height: 944px;
}

section {
    margin: 0 10px 0 10px;
    width: calc(100% - 20px);
    padding: 0;
    border-radius: 6px 6px 0 0;
    max-width: 382px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
}

section h2 {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

#index-content-container section {
    margin: 0;
    width: 100%;
}

#events {
    width: 300px;
    margin: 0;
    height: 235px;
}

#events div img, #events div p {
    display: inline-block;
}

#events div p {
    font-size: 0.75em;
    width: calc(100% - 65px);
    text-align: left;
    padding: 5px;
    vertical-align: top;
 }

.calendar-icon {
    width: 44px;
    height: 44px;
    margin: 5px;
}

#current_weather {
    display: grid;
    grid-template-columns: 105px auto;
    grid-template-rows: 47px auto;
    grid-gap: 0.75rem;
    height: 270px;
    min-width: 300px;
}

#current_weather h2 {
    grid-column: span 2;
}

#weather-icon {
    width: 95px;
    height: 95px;
    margin: 5px;
}

#weather_forecast {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
}

#weather_forecast p {
    padding: 10px;
    text-align: left;
}

.white_list_div, .shaded_list_div {
    display: block;
    width: 100%;
    background-color: white;
    padding: 5px;
}

.shaded_list_div {
    background-color: var(--sp-logo-text-color);  
}

.company_name, .address, .phone_number, .website {
    display: block;
    width: 100%;
}

.logo_card, .index-logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 340px;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
}

.logo_card img, .index-logo-card img {
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 180px;
}

.index-logo-card {
    font-size: 0.75em;
    height: 382px;
}

p span {
    font-weight: 700;
}

footer {
    width: 100%;
    background-color: var(--sp-footer-color);
    color: var(--header-footer-nav-text-color);
    font-family: var(--header-font), sans-serif;
    padding: 10px;
    text-align: left;
    font-size: 0.80em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    height: 445px;
}

footer p {
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer img {
    display: inline-block;
    margin: 0 10px;
}

.coc_info {
    width: 320px;
    padding: 20px;
    height: 155px;
}

#coc_social_media_icon_container {
    width: 232px;
    padding: 0;
    height: 54px;
    margin: 0 auto;
}

#membership-main h1, 
#membership-main p {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#membership-main p {
    font-size: 1.5em;
}

form {
    background-color: var(--header-footer-nav-text-color);
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    border-bottom: 1px solid var(--dark-blue-emphasis-color);
}

fieldset {
    margin: 0 0 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
}

legend {
    color: var(--header-footer-background-color);
    padding: 0 .5rem;
    font-weight: 600;
}

label {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    min-height: 44px;
    width: 100%;
    margin: 15px auto;
}

input[type="email"] {
    display: block;
    width: 100%;
    border: thin solid var(--box-shadow-color);
    border-radius: 6px;
    height: 36px;
    padding: 8px 12px 8px 12px;
    margin: 8px auto;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="date"],
select,
input[type="number"] {
    display: block;
    width: 100%;
    border: thin solid var(--box-shadow-color);
    border-radius: 6px;
    height: 36px;
    padding: 8px 12px 8px 12px;
    margin: 8px auto;
    appearance: none;
}

textarea {
    display: block;
    width: 100%;
    border: thin solid var(--box-shadow-color);
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    margin: 8px auto;
    appearance: none;
}

input[type="button"],
input[type="submit"] {
    display: block;
    border: none;
    background-image: linear-gradient(var(--dark-green-emphasis-color), var(--header-footer-background-color));
    color: var(--header-footer-nav-text-color);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 426px;
    margin: 1.5rem auto;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
} 

.required-asterisk {
    color: var(--required-red);
}

.membership-button-container {
    width: 100%;
    height: calc(100% - 47px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-button-container button {
    border-radius: 6px;
    padding: .75rem;
    background-image: linear-gradient(var(--dark-green-emphasis-color), var(--header-footer-background-color));
    color: var(--header-footer-nav-text-color);
    backface-visibility: hidden;
    position: relative;
    z-index: 1;
    width: 120px;
    height: 50px;
}

#bronze-membership-button-wrapper {
    background-image: linear-gradient(180deg,#fea 0%,rgb(229, 203, 101) 49%,rgb(171, 150, 66) 51%,rgb(235, 205, 86) 100%);
    border-radius: 6px;
    backface-visibility: hidden;
    position: absolute;
    width: 130px;
    height: 60px;
}

#silver-membership-button-wrapper  {
    background-image: linear-gradient(180deg,#e6e6e6 0%,rgba(0, 0, 0, 0.25) 49%, rgba(38, 38, 38, 0.6) 51%,rgba(0, 0, 0, 0.25) 100%);
    border-radius: 6px;
    backface-visibility: hidden;
    position: absolute;
    width: 130px;
    height: 60px;
}

#gold-membership-button-wrapper  {
    background-image: linear-gradient(180deg,#fea 0%,#dc8 49%,#a95 51%,#dc8 100%);
    border-radius: 6px;
    backface-visibility: hidden;
    position: absolute;
    width: 130px;
    height: 60px;
}