:root {
    --header-font: Roboto;
    --body-font: Domine;
    --sun-prairie-green-background-color:rgb(50, 130, 132);
    --sun-prairie-light-green-emphasis-color: rgb(121, 155, 62);
    --sun-prairie-highlight-color: rgb(255, 250, 230);
    --sp-logo-text-color: #328284;
    --sp-footer-color: #235f60;
    --dark-blue-emphasis-color: #0D2149;
    --header-footer-background-color: #1d4d73;
    --header-footer-nav-text-color: #fff;
    --main-background-color: #ffffff;
    --main-aside-text-color: #000;
    --box-shadow-color: #00000064;
    --main-max-width: 800px;
    --incomplete-class-background-color: #d0d0d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--body-font), serif;
    font-weight: 300;
    line-height: 1.7em;
    width: 100%;
    min-width: 320px;
    color: var(--dark-body-blue-text-color);
    background-color: var(--sp-logo-text-color);
}

a {
    color: var(--header-footer-background-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue-emphasis-color);
    text-decoration: none;
}

header,
nav {
    background-color: white;
    color: black;
    font-family: var(--header-font), sans-serif;
}

header img {
    box-shadow: none;
    margin: 10px;
}

#business_display_style {
    display: none;
}

h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin:  10px auto;
    padding: 1.1rem; 
}

nav {
    width: 100%;
    margin: 0 auto 0 auto;
}

/* small view navigation */
#menu {
    font-size: 3rem;
    border: 0;
    background: none;
    color: var(--sp-logo-text-color);
    position: absolute;
    top: .06rem;
    right: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    position: absolute;
    top: 0.5rem;
    right: 10px;
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover, #class_filter_buttons a:hover {
    background-color: #bbb;
    color: #333;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

main {
    width: 100%;
}

#business_content_container {
    margin: 10px auto;
    color: var(--main-aside-text-color);
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0.75rem;
    height: 2804px;
}

.list_container {
    height: 944px;
}

section {
    margin: 0 10px 0 10px;
    width: calc(100% - 20px);
    padding: 0;
    border-radius: 6px 6px 0 0;
    max-width: 382px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
}

.white_list_div, .shaded_list_div {
    display: block;
    width: 100%;
    background-color: white;
    padding: 5px;
}

.shaded_list_div {
    background-color: var(--sp-logo-text-color);  
}

.company_name, .address, .phone_number, .website {
    display: block;
    width: 100%;
}

.logo_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 340px;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
}

.logo_card img {
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 180px;
    /* box-shadow: 1px 1px 4px var(--box-shadow-color); */
}

p span {
    font-weight: 700;
}

footer {
    width: 100%;
    background-color: var(--sp-footer-color);
    color: var(--header-footer-nav-text-color);
    font-family: var(--header-font), sans-serif;
    padding: 10px;
    text-align: left;
    font-size: 0.80em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    height: 445px;
}

footer p {
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer img {
    display: inline-block;
    margin: 0 10px;
}

.coc_info {
    width: 320px;
    padding: 20px;
    height: 155px;
}

#coc_social_media_icon_container {
    width: 232px;
    padding: 0;
    height: 54px;
    margin: 0 auto;
}
