:root {
    --nav-font: Roboto;
    --body-font: Domine;
    --cursive-sample-font: Ballet;
    --body-hover-color-emphasis-color: #0D2149;
    --header-footer-background-color: #1d4d73;
    --header-footer-nav-text-color: #ffffff;
    --body-text-color: #000;
    --accent-color: #F3F437;    
    
    --hr-color: #a3a3a3;
    
    --header-font: Roboto;
    --header-font-size: 1.5em;
    --nav-background-color: #000000;
    --main-and-card-background-color: #ffffff;
    
    --header-height: 7.15em;
    --nav-height: 3em;
    --main-max-width: 800px;
    --main-min-width: 250px;
    --footer-height: 8.2em;
    --figure-height: 200px;
    --figure-width: 250px;

    --highlight-text-color: #f3f437;
}