:root {
    --header-font: Roboto;
    --body-font: Domine;
    --dark-blue-emphasis-color: #0D2149;
    --header-footer-background-color: #1d4d73;
    --header-footer-nav-text-color: #fff;
    --main-background-color: #ffffff;
    --main-aside-text-color: #000;
    --box-shadow-color: #0000002e;
    --article-header-color: #00000010;
    --main-max-width: 800px;
    --highlight-text-color: #f3f437;
    --required-red: #9c2c13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: var(--body-font), serif;
    font-weight: 300;
    line-height: 1.7em;
    width: 100%;
    min-width: 300px;
    color: var(--dark-body-blue-text-color);
}

a {
    color: var(--header-footer-background-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue-emphasis-color);
    text-decoration: underline;
}

header,
footer,
nav {
    background-color: var(--header-footer-background-color);
    color: var(--header-footer-nav-text-color);
    font-family: var(--header-font), sans-serif;
}

header {
    padding: 20px 20px 0px 20px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1.1rem 1.1rem 0 1.1rem;
}

h2 {
    font-size: 1.2rem;
    color: var(--header-footer-background-color);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

h3 {
    margin: 20px 0 10px 0;
}

nav {
    width: 100%;
    margin: 1rem auto 0 auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

#page-identifier {
    width: 100%;
}

#page-identifier h2 {
    color: white;
    padding: 0 .75em .5em .75em;
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-background-color);
    color: var(--main-aside-text-color);
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main h2,
main h3 {
    text-align: center;
    color: var(--header-footer-background-color);
    grid-column: span 1;
}

main picture {
    margin: 0 auto 20px;
    width: 100%;
}

section {
    margin: 0 auto;
    width: 100%;
    padding: 1.75em;
}

section p {
    text-align: justify;
}

section img {
    width: 100%;
    height: auto;
    margin: auto;
}

#fhdlogo {
    width: 100%;
    margin: 20px auto;
}

footer {
    padding: 10px;
    text-align: center;
}

footer p {
    width: 100%;
    padding: 5px;
}

.highlight {
    color: var(--highlight-text-color);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 100%;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
    border-radius: 6px;
    border-bottom: none;
    padding: 0px;
}

.article-header {
    width: 100%;
    display: block;
    background-color: var(--article-header-color);
    padding: 1em;
    border-radius: 6px 6px 0 0;
}

.article-header p {
    display: inline-block;
    margin-left: 10px;
}

.article-header span {
    display: block;
}

.article-header .article-title {
    font-size: 1.2em;
    padding: 5px;
    color: var(--header-footer-background-color);
}

.article-header .article-author {
    font-size: 0.8em;
    padding-left: 5px;
}

.article-header img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.article-body {
    width: 100%;
    padding: 1em;
    border-radius: 0 0 6px 6px;
    position: relative;
}

.article-body p {
    margin: 0 0 10px 0;
}

.article-body img {
    width: 300px;
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid var(--box-shadow-color);
}

.article-body ol,
.article-body ul {
    margin: 0 0 10px 30px;
}

.required-asterisk {
    color: var(--required-red);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* large view navigation ************************************/
@media (min-width: 615px) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
        padding: 1.1rem;
    }

    h2 {
        font-size: 2rem;
        text-align: left;
    }

    h3 {
        font-size: 1.75rem;
        text-align: left;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #page-identifier {
        display: none;
    }
}

@media (min-width: 800px) {

    h2,
    h3 {
        text-align: left;
    }

    nav {
        max-width: 800px;
    }

    main {
        max-width: var(--main-max-width);
    }

    main h2,
    main h3 {
        text-align: left;
    }

    /* section {
        margin: 10px auto;
        max-width: 800px;
    } */
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.0rem;
    }

    .article-body img {
        display: block;
        float: none;
        margin: 0 auto 1em auto;
    }

    section {
        box-shadow: none;
    }
}